<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{%block title%} BlogPost {%endblock%}</title>
    </head>
    <body>
        <h1>BlogPost</h1>
        {% if request.user.is_authenticated %}
            <p> Hello {{ request.user.username }}</p>
            <a href="{% url 'web:logout'%}">Logout</a>
        {% else %}
            <a href="{% url 'web:login'%}">Login</a>
            <a href="{% url 'web:register'%}">Create account</a>
        {% endif%}
        {% block authForm %}

        {%endblock%}
    </body>
</html>